<div class="background">
<h1>Liste des Spots :</h1>
  <div class="cards">


    <p id="notice"><%= notice %></p>
    <div class="container">
      <% @spots.each do |spot| %>
        <div class="card-product">
          <img src="<%= cloudinary_url spot.photos.first.key %>" class="d-block w-30" alt="...">
          <div class="card-product-infos">
            <h2><%= spot.title %></h2>
            <p>Location: <%= spot.address %></p>
            <p> Price: <%=  spot.price %> MUR</p>
            <%= link_to 'Show', spot, class: "text-white btn btn-primary"%>
            <%= link_to 'Edit', edit_spot_path(spot), class: "text-white btn btn-warning"%>
            <%= link_to 'Destroy', spot, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

          </div>
        </div>
      <% end %>
      <br>
      <%= link_to 'New Spot', new_spot_path, class:"btn btn-primary btn-lg text-white" %>
    </div>



