<div class="container">
  <h1>Liste des Spots :</h1>
  <h2>Profitez d'une sieste parfaite</h2>
  <p id="notice"><%= notice %></p>

  <div class="card" style="width: 18rem;">
  <% @spots.each do |spot| %>
   <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= spot.title %></h5>
      <p class="card-Description"><%= spot.description %></p>
      <p class="spot-capacity"><%= spot.capacity %></p>
      <p class="spot-address"><%= spot.address %></p>
      <p class="spot-price"><%= spot.price %></p>
      <a href="#" class="btn btn-primary">Book</a>

    </div>
  <%end%>

  <%= link_to 'New Restaurant', new_spot_path, class:"btn btn-primary btn-lg text-white" %>
 </div>
<!--
  <table class="table">
  
  

    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>Capacity</th>
        <th>Price €</th>
      </tr>
    </thead>

    <tbody>
      <% @spots.each do |spot| %>
        <tr>
          <td class="table-secondary"><%= spot.title %></td>
          <td class="table-secondary"><%= spot.description %></td>
          <td class="table-secondary"><%= spot.address %></td>
          <td class="table-secondary"><%= spot.capacity %></td>
          <td class="table-secondary"><%= spot.price %></td>
          <td><%= link_to 'Show', spot, class: "text-white btn btn-primary"%></td>
          <td><%= link_to 'Edit', edit_spot_path(spot), class: "text-white btn btn-warning"%></td>
          <td><%= link_to 'Destroy', spot, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'New Restaurant', new_spot_path, class:"btn btn-primary btn-lg text-white" %>
-->

</div>
