<div class="background">
<h1>Liste des Spots :</h1>
  <div class="cards">


    <p id="notice"><%= notice %></p>
    <div class="container">
      <% @spots.each do |spot| %>
        <div class="card-product">
          <img src="<%= cl_image_path spot.photos.first.key %>" class="d-block w-30" alt="...">
          <div class="card-product-infos">
            <h2><%= spot.title %></h2>
            <p><%= spot.address %></p>
            <p><%= spot.price %></p>
          </div>
        </div>
      <% end %>
      <br>
      <%= link_to 'New Spot', new_spot_path, class:"btn btn-primary btn-lg text-white" %>
    </div>



