
  <div class="background">
  <div class="container">
    <div class="button">
      <%= link_to 'New Spot', new_spot_path, class:"btn btn-outline-info" %>
    </div>
    <p id="notice"><%= notice %></p>
    <div class="cards">
      <% @spots.each do |spot| %>
        <div class="card-product">
          <%= cl_image_tag(spot.photos.first.key, :width => 300, :height => 200, :crop => :fill)%>
          <div class="card-product-infos">
            <h2><%= spot.title %></h2>
            <p>Location: <%= spot.address %></p>
            <p> Price: <%=  spot.price %> MUR</p>
            <div id="button">
              <%= link_to 'Show', spot, class: "btn btn-outline-secondary btn-sm"%>
              <%= link_to 'Edit', edit_spot_path(spot), class: "btn btn-outline-secondary btn-sm"%>
            </div>
            <%= link_to '', spot, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash btn-sm"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
