<div class="background">
  <div class="container" >
    <div class="card-show" >
      <div class="container" >
        <%= render 'shared/carouselshow', spot: @spot %>
        <br>
        <%= link_to 'Edit', edit_spot_path(@spot), :class => "btn btn-outline-secondary btn-sm" %> |
        <%= link_to 'Back', spots_path, :class => "btn btn-outline-secondary btn-sm" %>
        <%# <%= link_to 'Book this Spot', spots_path, :class => "btn btn-outline-info" %>
      </div>
      <div class="container" >
        <h1>
        <%= @spot.title %>
        </h1>
        <strong>Address:</strong>
        <%= @spot.address %>
        <br>
        <strong>Capacity:</strong>
        <%= @spot.capacity %>
        <br>
        <strong>Description:</strong>
        <%= @spot.description %>
        <br>
        <strong>Price:</strong>
        <%= @spot.price %>
        <br>
      </div>
      <br>
      <div class="form-wrapper">
        <%= simple_form_for [@spot, @booking] do |f| %>
          <div class="form-inputs">
            <%= f.input :date,
                    as: :string,
                    required: true,
                    autofocus: true,

                    input_html: { id: "date", class: "d-none"}%>
          </div>
          <div class="form-actions">
            <%= f.button :submit, :class => "btn btn-info btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="booking-date"
      data-bookings="<%= @bookings_dates.to_json %>">
    </div>
  </div>
</div>
  <!-- [...] -->

    <%# d-none = class bootstrap pour masquer %>
