<div class="background">
  <div class="mx-auto" style="width: 600px;" >
    <div class="card-show" >
      <p>
        <strong>Name:</strong>
        <%= @spot.title %>
      </p>
      <strong>Address:</strong>
      <%= @spot.address %>
      <br>
      <strong>Capacity:</strong>
      <%= @spot.capacity %>
      <br>
      <strong>Description:</strong>
      <%= @spot.description %>
      <br>
      <strong>Price:</strong>
      <%= @spot.price %>
      <br>
      <%= render 'shared/carouselshow', spot: @spot %>
    </div>
    <br>
    <%= link_to 'Edit', edit_spot_path(@spot), :class => "btn btn-warning" %> |
    <%= link_to 'Back', spots_path, :class => "btn btn-secondary" %>
  </div>
</div>
