<div class="background">
  <div class="container">
    <div id="add-spot-box">
      <h2>Vos siestes réservées :</h2>
      <%= image_tag "carrot.png", alt: "Nappot logo", style: "height:50px;width:50px" %>
    </div>
    <div id="card-bookings">
      <div class="container">
        <% @bookings.each do |booking| %>
          <div class="card-booking-one">
            <h2>Spot : <%= booking.spot.title %></h2>
            <h2>Address : <%= booking.spot.address %></h2>
            <p>Price: <%= booking.booking_price %> MUR</p>
            <p>Date: <%=  booking.date %></p>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


